@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #2B2733;
  font-family: 'Monserrat', sans-serif;
  color: #CBC9CF;
}

.main-header {
  display: flex;
  justify-content: center;
  background-color: #46424D;
  padding: 1.5%;
  font-size: .75em;
  letter-spacing: .15em;
}

h1, h2, h3 {
  font-weight: 300;
  color: #FFF;
}

h2 {
  font-size: 1.5em;
  color: #CBC9CF;
}

h3 {
  font-size: 1.15em;
}

input {
  background: inherit;
  margin-top: 2em;
  border: none;
  border-bottom: 1px solid white;
  font-size: inherit;
}

main {
  display: grid;
  grid-template-columns: 2fr 4px 1fr;
}

article {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  height: 100%;
  margin: 5%;
}

aside {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin: 5%;
  padding-top: 5.5%;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 68%;
  background-color: #46424D;
  margin: 2% 0%;
  padding: 7.5% 15%;
  box-shadow: 7px 6px 7px 3px #26222D;
  border-radius: 1%;
}

.select-category-container {
  height: 25%;
  margin-bottom: 15%;
}

.category-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 4% 0% 4% 0%;
}

.category-button-image {
  width: 25%;
  padding-bottom: 2%;
}

.category-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: inherit;
  width: 25%;
  height: 70px;
  padding: 1em;
  border-radius: 5%;
  border: white 1px solid;
  color: #FFF;
  font-size: inherit;
}

.active-study-button {
  border-color: #B3FD78;
  color: #B3FD78;
}

.warning-image {
  width: 15px;
}
.category-error-message, .description-error-message, .minute-error-message, .second-error-message{
  display: flex;
  align-content: center;
  color: #EFB7EC;
}

.active-study-button > img {
  content: url('assets/study-active.svg');
}

.active-meditate-button {
  border-color: #C278FD;
  color: #C278FD;
}

.active-meditate-button > img {
  content: url('assets/meditate-active.svg');
}

.active-exercise-button {
  border-color: #FD8078;
  color: #FD8078;
}

.active-exercise-button > img {
 content: url('assets/exercise-active.svg')
}

.grey-line {
  background-color: #46424D;
}

.activity-prompt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  padding: 1em 0em;
}

.time-input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 25%;
  margin-bottom: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
}

.second-input-container, .minute-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 42%;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 15%;
}

.time-error-message {
  padding-top: 5%;
}

.submit-button {
  height: 70%;
  width: 30%;
  border: 1px solid white;
  border-radius: 5%;
  font-size: .9em;
}

.past-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-activities-header {
  align-self: flex-start;
  padding-bottom: 2em;
}

.past-activities > p {
  padding-bottom: .5em;
}

@media screen and (max-width: 900px) {
  main {
    grid-template-rows: 2fr .3% 1fr;
    grid-template-columns: none;
  }

  article {
    grid-row: 1;
  }

  aside {
    grid-row: 3;
    padding-top: 0;
  }

  .past-activities {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {

  .form-section {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    height: 85%;
  }

  .past-activities {
    padding-top: 5%;
  }

  .select-category-container {
    height: 40%;
  }

  .category-header {
    padding-bottom: 3%;
  }

  .category-button-container {
    flex-direction: column;
    align-items: center;
    height: 80%;
  }

  .category-button {
    flex-direction: row;
    justify-content: center;
    width: 55%;
    padding: 1% 5%;
    margin: 2%;
  }

  .category-button-image {
    width: 25%;
    padding-right: .75em;
  }

  .minute-input > input, .second-input > input {
    margin: 0;
  }

  .submit-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit-button {
    width: 75%;
    height: 60%;
  }
}
