@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #2B2733;
  color: #FFF;
}

.main-header {
  background-color: #46424D;
  padding: 2%;
  display: flex;
  justify-content: center;
  font-size: .5em;
  letter-spacing: .15em;
}

h1, h2 {
  color: #FFF;
  font-family: 'Monserrat', sans-serif;
  font-weight: 300;

}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

article {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin: 5%;
}

.form-section {
  background-color: #46424D;
  display: grid;
}

aside {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin: 5%;
}
