@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #2B2733;
  font-family: 'Monserrat', sans-serif;
  color: #CBC9CF;
}

.main-header {
  background-color: #46424D;
  padding: 1.5%;
  display: flex;
  justify-content: center;
  font-size: .75em;
  letter-spacing: .15em;
}

h1, h2, h3 {
  color: #FFF;
  font-weight: 300;
}


h2 {
  font-size: 1.25em;
  color: #CBC9CF;
}

h3 {
  font-size: 1.15em;
}

input {
  background: transparent;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 2em;
}

input, select, textarea {
  color: #CBC9CF;
}

main {
  display: grid;
  grid-template-columns: 2fr 1px 1fr;
}

article {
  margin: 5%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 0%;
  padding: 7.5% 15%;
  background-color: #46424D;
  box-shadow: 7px 6px 7px 3px #26222D;
  border-radius: 1%;
}
.select-category-container {
  height: 150px;
}

.category-button-container {
  padding: 4% 0% 5% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.category-button-image {
  width: 25px;
  padding-bottom: 4%;
}

.category-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: inherit;
  width: 160px;
  height: 70px;
  padding: 1em;
  border-radius: 5%;
  border-color: white;
  border-style: solid;
  color: #FFF;
  font-size: inherit;
}

.grey-line {
  background-color: #46424D;
}

.activity-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.time-input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  height: 33%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.second-input, .minute-input {
  display: flex;
  flex-direction: column;
  width: 42%;

}
.second-input > input, .minute-input > input {
  width: 100%;
}
.submit-section {
  display: flex;
  justify-content: flex-end;
  height: 35px;
}
.submit-button {
  height: 100%;
  width: 30%;
  border-radius: 5%;
  font-size: 1em;
  /* display: flex;
  justify-content:center; */
}

aside {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin: 5%;
}
