@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #2B2733;
  font-family: 'Monserrat', sans-serif;
  color: #CBC9CF;
}

.main-header {
  background-color: #46424D;
  padding: 1.5%;
  display: flex;
  justify-content: center;
  font-size: .75em;
  letter-spacing: .15em;
}

h1, h2, h3 {
  color: #FFF;
  font-weight: 300;
}


h2 {
  font-size: 1.5em;
  color: #CBC9CF;
}

h3 {
  font-size: 1.15em;
}

input {
  background: transparent;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 2em;
}

input, select, textarea {
  color: #CBC9CF;
}

main {
  display: grid;
  grid-template-columns: 2fr 4px 1fr;
}

article {
  margin: 5%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  height: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 0%;
  padding: 7.5% 15%;
  background-color: #46424D;
  box-shadow: 7px 6px 7px 3px #26222D;
  border-radius: 1%;
  height: 68%;
}

.select-category-container {
  height: 30%;
  margin-bottom:
}

.category-button-container {
  padding: 4% 0% 25% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

}

.category-button-image {
  width: 25%;
  padding-bottom: 2%;
}

.category-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: inherit;
  width: 25%;
  height: 70px;
  padding: 1em;
  border-radius: 5%;
  border-color: white;
  border-style: solid;
  color: #FFF;
  font-size: inherit;
}

.grey-line {
  background-color: #46424D;
}

.activity-prompt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 20%;
}

.time-input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  height: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.second-input, .minute-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 42%;
}

.second-input > input, .minute-input > input {
  width: 100%;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 15%;
}

.submit-button {
  height: 30%;
  width: 30%;
  border: 1px solid white;
  border-radius: 5%;
  font-size: .9em;
}

aside {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin: 5%;
  padding-top: 5.5%;
  text-align: center;
}

.past-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-activities-header {
  align-self: flex-start;
  padding-bottom: 2em;
}

.past-activities > p {
  padding-bottom: .5em;
}

@media screen and (max-width: 900px) {
  main {
    grid-template-rows: 2fr .3% 1fr;
    grid-template-columns: none;
  }

  article {
    grid-row: 1;
  }

  aside {
    grid-row: 3;
    padding-top: 0;
  }

  .past-activities {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .form-section {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    height: 100vh;
  }
  .select-category-container {
    height: 50%;
  }
  .category-button-container {
    flex-direction: column;
    align-items: center;
    height: 85%;
  }

  .category-button {
    flex-direction: row;
    justify-content: center;
    width: 55%;
    padding: 1% 5%;
    margin: 2%;
  }

  .category-button-image {
    width: 25%;
    padding-right: .75em;
  }
  .minute-input > input, .second-input > input {
    margin: 0;
  }
  .submit-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submit-button {
    width: 75%;
    height: 60%;
  }
}
